*,
*::after,
*::before {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font: 400 20px / 26px $font;
	background-color: #ccc;
}

.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;

}

.wrapper {
	max-width: 480px;
	margin: 0 auto;
	background-color: #fff;
	width: 100%;
}


.hide {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	transition: opacity 1.3s;
}
.container{
	padding: 0 30px;
}
.order-btn{
	background-color: #FF2E00;
    border-radius: 10px;
    color: $white;
    text-align: center;
    padding: 16px 0px 20px;
    text-transform: uppercase;
		max-width: 320px;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 50px;
}
@media (max-width: 420px) {
	.container{
		padding: 0 10px;
	}
}