.result{
  padding: 50px 30px;
  &__title{
    max-width: 300px;
    text-align: center;
    color: $black;
    font: 700 27px/32px $font;
    margin-bottom: 30px;

  }
  &-box{
    max-width: 210px;
    margin-bottom: 35px;
  }
}
.result-list{
  &__item{
    &:not(:last-child){
      margin-bottom: 35px;
    }
    &-text{
      font:700 20px/26px $font;
      margin-bottom: 30px;
    }
    &-img{
      max-width: 260px;
    }
  }
}
@media (max-width: 420px) {
  .result{
    padding: 50px 10px;
  }
}